# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
SUPABASE_DATABASE_URL="postgres://postgres::<your_password>@db.<supabase_url>.supabase.co:6543/postgres?pgbouncer=true"
# PostgreSQL connection string used for migrations
SUPABASE_DIRECT_URL="postgres://postgres:<your_password>@db.<supabase_url>.supabase.co:5432/postgres"

NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_HANKO_API_URL=