@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 100% 100%;
    --foreground: 214 44% 19%;

    --paragraph: 214 100% 15%;
    --paragraph-foreground: 60 100% 100%;

    --primary: 171 100% 46%;
    --primary-foreground: 214 100% 15%;

    --secondary: 350 100% 66%;
    --secondary-foreground: 214 100% 15%;

    --tertiary: 51 98% 65%;

    --muted: 210 18% 96%;
    --muted-foreground: 216 6% 15%;

    --radius: 0.5rem;

    --color: #111827;
    --color-shade-1: #d1d5db;
    --brand-color: #111827;
    --background-color: #ffffff;
    --headline1-font-size: 29px;
    --headline2-font-size: 16px;
    --headline1-margin: 10px 40px;
    --border-radius: 6px;
    --font-size: 14px;
    --item-height: 36px;
    --link-color: #1c73e8;
    --divider-padding: 0 15px;
  }

  .dark {
    --background: 240 8% 9%;
    --foreground: 214 16% 64%;

    --paragraph: 60 100% 100%;
    --paragraph-foreground: 214 100% 15%;

    --primary-foreground: 240 8% 9%;

    --secondary-foreground: 240 8% 9%;

    --muted: 216 6% 15%;
    --muted-foreground: 210 18% 96%;
  }
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-paragraph;
  }
}

@layer components {
  ::-webkit-scrollbar {
    display: none;
  }
}

hanko-auth {
  --container-max-width: 640px;
  --container-padding: 40px;
}

hanko-profile {
  --container-max-width: 550px;
  --container-padding: 30px;
}

hanko-auth::part(container),
hanko-profile::part(container) {
  border: solid 1px #d8dee3;
  border-radius: 6px;
  width: 560px;
  margin: 0 auto;
}

hanko-auth::part(headline1),
hanko-profile::part(headline1) {
  color: #1f2328;
  text-align: center;
}

hanko-auth::part(input),
hanko-profile::part(input) {
  background-color: #ffffff;
}

hanko-auth::part(secondary-button) {
  border: none;
  margin: 0 0 0 20px;
}

hanko-auth::part(divider-text) {
  color: #1f2328;
}

.hanko_loadingSpinnerWrapperIcon {
  justify-content: center !important;
}
