@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 100% 100%;
    --foreground: 214 44% 19%;

    --paragraph: 214 100% 15%;
    --paragraph-foreground: 60 100% 100%;

    --primary: 171 100% 46%;
    --primary-foreground: 214 100% 15%;

    --secondary: 350 100% 66%;
    --secondary-foreground: 214 100% 15%;

    --tertiary: 51 98% 65%;

    --muted: 210 18% 96%;
    --muted-foreground: 216 6% 15%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 8% 9%;
    --foreground: 214 16% 64%;

    --paragraph: 60 100% 100%;
    --paragraph-foreground: 214 100% 15%;

    --primary-foreground: 240 8% 9%;

    --secondary-foreground: 240 8% 9%;

    --muted: 216 6% 15%;
    --muted-foreground: 210 18% 96%;
  }
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-paragraph;
  }
}

@layer components {
  ::-webkit-scrollbar {
    display: none;
  }
}

hanko-auth::part(container),
hanko-profile::part(container) {
  margin: 0 auto;
  background-color: var(--background);
}

hanko-auth::part(headline1) {
  display: none;
}

hanko-profile::part(headline1) {
  color: var(--primary);
  text-align: center;
}

hanko-auth::part(input),
hanko-profile::part(input) {
  background-color: var(--background);
  @apply placeholder-black;
}

hanko-auth::part(primary-button),
hanko-profile::part(primary-button) {
  @apply border-none bg-black font-bold text-white hover:bg-gray-400;
}

hanko-auth::part(secondary-button) {
  @apply m-0 border-none bg-black font-bold text-white hover:bg-gray-400;
}

hanko-auth::part(divider-text) {
  background-color: transparent;
  color: var(--paragraph);
}

.dark hanko-auth::part(container),
.dark hanko-profile::part(container) {
  margin: 0 auto;
  background-color: var(--background);
}

.dark hanko-auth::part(headline1) {
  display: none;
}

.dark hanko-profile::part(headline1) {
  @apply text-gray-200;
}

.dark hanko-auth::part(input),
.dark hanko-profile::part(input) {
  background-color: var(--foreground);
  @apply placeholder-white;
}

.dark hanko-auth::part(primary-button),
.dark hanko-profile::part(primary-button) {
  @apply border-none bg-white font-bold text-black hover:bg-gray-400;
}

.dark hanko-auth::part(secondary-button) {
  @apply m-0 border-none bg-white font-bold text-black hover:bg-gray-400;
}

.dark hanko-auth::part(divider-text) {
  background: transparent;
  color: var(--paragraph);
}
